.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    max-width: 612px;
    padding: 0 16px;
    padding-top: 32px;
}

img.me {
    width: 116px;
    margin: 0 auto;
}

h1 {
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.experience {
    width: fit-content;
    margin: 0 auto;
}

.experience div {
    margin: 28px auto;
}

h2 {
    margin: 4px auto;
}

p.oss-contributions {
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    margin: 0;
    line-height: 32px;
}

a, a:active, a:focus {
    color: #56E39F !important;
}

a:hover {
    color: #00C465 !important;
}

.footer {
    display: flex;
    align-items: center;
    gap: 46px;
    margin: 24px auto;
}

.footer a {
    color: initial !important;
}

@media only screen and (max-width: 612px) {
    h1 {
        font-size: 1.5em !important;
        text-align: left;
    }

    .experience, img.me {
        margin: 0;
    }

    .experience div {
        margin: 16px auto;
    }

    h2 {
        font-size: 1em !important;
    }

    p.oss-contributions {
        font-size: 1em !important;
        text-align: left;
        font-weight: 400;
    }
}
